.intro {
    background-color: white;
    display: flex;

    .vidContainer {

        video {
            object-fit: cover;
            width: 100%;
            height: 100%;
            position: absolute;
        }
    }
}