.intro {
    background-color: white;
    display: flex;

    .videoText {
        h3, h2 {
            display: flex;
            flex-direction: column;
            justify-content: center;
            position: absolute;
            z-index: 2;
            color: white;
        }
    }
    .vidContainer {

        video {
            object-fit: cover;
            width: 100%;
            height: 100%;
            position: absolute;
        }
    }

}